/* large phones */
@media only screen and (max-width: 767px) {
  .hero1__content-container {
    justify-content: center !important;
    align-items: center !important;
  }
}

/* small phones */
@media only screen and (max-width: 575px) {
  .hero1__content-container {
    justify-content: center !important;
    align-items: center !important;
  }
}
@media only screen and (max-width: 480px) {
  .hero1__content-container {
    padding: 0rem !important;
  }
}

@media only screen and (max-width: 399px) {
  .hero1__title {
    font-size: 4rem !important;
  }
  .hero1__paragraph {
    font-size: 1.3rem !important;
  }

  .hero1__button {
    font-size: 1rem !important;
  }
}

.hero1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #fff;
}
.hero1--25vh {
  height: 25vh;
}
.hero1--50vh {
  height: 50vh;
}
.hero1--75vh {
  height: 75vh;
}
.hero1--100vh {
  height: 100vh;
}
.hero1--25vw {
  width: 25%;
}
.hero1--50vw {
  width: 50%;
}
.hero1--75vw {
  width: 75%;
}
.hero1--100vw {
  width: 100%;
}
.hero1__img--cover img {
  -o-object-fit: cover;
  object-fit: cover;
}
.hero1__img--contain img {
  -o-object-fit: contain;
  object-fit: contain;
}
.hero1__img--none img {
  -o-object-fit: none;
  object-fit: none;
}
.hero1--aligned-center .hero1__content-container {
  justify-content: center;
}
.hero1--aligned-left .hero1__content-container {
  justify-content: flex-start;
  padding-left: 5rem;
}
.hero1--aligned-right .hero1__content-container {
  justify-content: flex-end;
  padding-right: 5rem;
}
.hero1--aligned-center-two .hero1__content-container {
  align-items: center;
}
.hero1--aligned-top .hero1__content-container {
  align-items: flex-start;
  padding-top: 5rem;
}
.hero1--aligned-bottom .hero1__content-container {
  align-items: flex-end;
  padding-bottom: 5rem;
}
.hero1__img {
  width: 100%;
  height: 100%;
}
.hero1__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.hero1__info {
  max-width: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero1__title {
  text-align: center;
  font-size: 5.3rem;
  font-family: "Bebas Neue", cursive;
  color: #fff;
}
.hero1__title-sm {
  font-size: 2rem;
}
.hero1__title-md {
  font-size: 3rem;
}
.hero1__title-lg {
  font-size: 4.5rem;
}
.hero1__title-xl {
  font-size: 6rem;
}
.hero1__paragraph {
  margin-bottom: 2rem;
}
.hero1__paragraph {
  font-size: 1.5rem;
  font-weight: 600;
}
.hero1__button {
  padding: 15px 30px;
  background: #fff;
  text-align: center;
  width: 200px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8rem;
}
