.jumbo-video {
  background: black;
  height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
.jumbo-video .bg-image {
  background: url("jumbobg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}
.jumbo-video .bg-video {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  transform: scale(1.5);
}
.jumbo-video .transparent-color {
  background: rgba(66, 53, 88, .8);
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}
.jumbo-video .titles {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.jumbo-video .titles h1 {
  font-size: 7rem;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  transform: translate3d(100px, 0, 0);
}
.jumbo-video .titles h2 {
  font-size: 5rem;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  transform: translate3d(135px, 0, 0);
}
.jumbo-video .state {
  background: white;
  position: absolute;
  height: 12%;
  z-index: 3;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
}
.jumbo-video .state .number {
  font-size: 5rem;
  transform: translate3d(50px, 0, 0);
}
.jumbo-video .store-info {
  background: #0cdbdd;
  position: absolute;
  height: 20%;
  z-index: 3;
  width: 75%;
  bottom: 0;
  right: 0;
  display: flex;
}
.jumbo-video .store-info a {
  width: 25%;
  display: inline-block;
}
.jumbo-video .store-info img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: saturate(0);
  transition: all 0.4s ease-in-out;
}
.jumbo-video .store-info img:hover {
  filter: saturate(100%);
}
