/* large phones */
@media only screen and (max-width: 767px) {
  .jumbo-video.titles h1{
    font-size: 4rem !important;
  }
  .jumbo-video.titles h2{
    font-size: 2.7rem !important;
  }
}

/* small phones */
@media only screen and (max-width: 575px) {
  .jumbo-video.titles h1{
    font-size: 4rem !important;
  }
  .jumbo-video.titles h2{
    font-size: 2.7rem !important;
  }
}

.jumbo-video {
  background: black;
  height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
.jumbo-video--50vh {
  height: 50vh;
}
.jumbo-video--75vh {
  height: 75vh;
}
.jumbo-video--100vh {
  height: 100vh;
}

.jumbo-video .bg-video {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  transform: scale(1.5);
}
.jumbo-video .transparent-color {
  background: rgba(66, 53, 88, .8);
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}
.jumbo-video .titles {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.jumbo-video .titles h1 {
  font-size: 7rem;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  transform: translate3d(100px, 0, 0);
}
.jumbo-video .titles h2 {
  font-size: 5rem;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  transform: translate3d(135px, 0, 0);
}